<div class="panel padding-40">
    <div class="row">
        <div class="col-2 d-flex justify-content-end">
            <img src="/assets/Captain America.png"  height="100px" />
        </div>
        <div class="col-8 d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-center f-x-large">Bienvenue chez Marvel Corp</div>
                <div class="col-12 d-flex justify-content-center f-large">Retrouve tout tes personnages Marvel préférés</div>
                <div class="col-12 d-flex justify-content-center f-large">Trouver une troisième phrase</div>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-start">
            <img src="/assets/Captain America.png"  height="100px" />
        </div>
    </div>
</div>