  .marvel-footer {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Utilisez la police appropriée pour le style Marvel */
    display: flex;
    flex-direction: column-reverse;
    color: #d89000;

  }
  
  .marvel-footer p {
    margin: 5px 0;
  }
  