/* Style pour les lettres en rouge */
a {
    color: red ; /* Couleur rouge pour les lettres */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Police de caractères style Marvel */
  }
  
  