<div class="bg-color-1 padding-40">
  <div class="row">
    <ng-container *ngIf="character != null">
      <div class="col-12 text-center">
        <div class="red-box">
          <div class="d-flex justify-content-center">
            <h2>{{ character.name }}</h2>
          </div>
          <div class="d-flex justify-content-center">
            <img [src]="character.img" height="400px" class="hover-shadow" />
          </div>
          <div class="d-flex justify-content-center">
            <p>{{ character.description }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
