/* Style pour la grille et les colonnes */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%; 
  padding: 10px; 
}

/* Style pour l'image du personnage */
img.grows {
  max-width: 100%; 
  height: auto; 
  border: 1px solid #ddd; 
}

/* Style pour les boutons */
button.btn {
  padding: 10px 20px; 
  margin-right: 10px; 
  border-radius: 5px; 
}

/* Style pour le bouton */
button.btn-success {
  background-color:#d89000; 
  color: #ffffff; 
  border: none; 
}

/* Style pour le bouton "Light" */
button.btn-light {
  background-color: #f8f9fa;
  color: #333;
  border: none; 
}
button:hover {
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
}
