<div class="bg-color-3 d-flex justify-content-center">
    <div>
        <form [formGroup]="searchForm">
            Chercher des séries dont le nom contient : <input formControlName="search">
        </form>
    </div>
    <div>Vous avez sélectionné la série : {{ lastComics }}</div>
</div>
<div class="padding-25 bg-color-1">
    <div class="row" id="bigd">
        <div class="col-12 d-flex justify-content-center f-large padding-b-25">
            <span class="titre">Les Séries Marvel</span>
        </div>
        <div class="row" id="smalld">
            <ng-container *ngIf="myComics.length > 0">
                <div class="col-3" *ngFor="let item of myComics">
                    <app-series-list [series]="item" (eventOut)="onEvent($event)"></app-series-list>
                </div>
            </ng-container>
        </div>
    </div>
</div>
